#bot_right {
  text-align: right;
}
#beepboop .botdata {
  height: 40px;

}
#beepboop h2 {
  color: #03A5A5;
  font-weight: bolder;
  border-bottom: 1px solid #03A5A5;
  text-align: right;
  margin-left: 15px;
  margin-right: 15px;
}
#beepboop .borderleft {
  border-left: 1px solid #CCCCCC;
  min-height: 280px;
}
#beepboop h4 {
  margin-top: 0px;
  color: #03A5A5;
}
#beepboop textarea {
  background-image: url('../img/output_bg.png');
  background-repeat: repeat-x repeat-y;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #4AD9D9;
  padding: 10px;
}
#beepboop .btn-teal {
  background-color: #03A5A5;
  border-color: #395959;
  color: #FFFFFF;
}
#beepboop .btn-teal:hover {
  background-color: #4AD9D9;
  border-color: #395959;
}
