body {
  background-color: #F2F2F2;
}
h2 {
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  height: 300px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/header.png");
  font-weight: bolder;
}
.header h1 {
  margin: 50px;
}
.navbar-default {
  background: none;
  border: none;
}
.nav {
  float: right;
}
.nav li a {
  padding: 16px 15px;
  color: #ffffff;
}
.nav li a:hover {
  background: none;
  color: #757AD1;
}
.contentbox {
  padding: 50px 15px;
}
.contentbox img {
  margin: 50px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentbox:nth-child(even) {
  background-color: #fff;
}
.row {
  width: 100%;
  margin: 0;
}
#aboutbyron h2 {
  color: #F5A503;
  text-align: right;
}
