body {
  background-color: #F2F2F2;
}
h2 {
  font-weight: bolder;
  color: #F5A503;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  height: 300px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/header.png");
  font-weight: bolder;
}
.header h1 {
  margin: 50px;
}
.navbar-default {
  background: none;
  border: none;
}
.nav {
  float: right;
}
.nav li a {
  padding: 16px 15px;
  color: #ffffff;
}
.nav li a:hover {
  background: none;
  color: #757AD1;
}
.container{
  text-align: left;
  margin: 30px 15px;
  padding: 0;
}
.about {

}
.about img {
  max-width: 250px;
  float: left;
  margin: 0 15px;
}
.about h2 p {

}
