body {
  background-color: #F2F2F2;
}
h2 {
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  height: 300px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/header.png");
  font-weight: bolder;
}
.header h1 {
  margin: 50px;
  padding-top: 70px;
  font-size: 50px;
}
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  border-radius: 0px;
}
.navbar-default {
  background: #000;
  border: none;
}
.nav {
  float: right;
}
.nav li a {
  padding: 16px 15px;
  color: #ffffff;
  background-color: #000;
}
.nav li a:hover {
  background: #000;
  color: #757AD1;
}
.contentbox {
  padding: 50px 15px;
}
.contentbox img {
  margin: 54px 15px;
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentbox:nth-child(even) {
  background-color: #fff;
}
.row {
  width: 100%;
  margin: 0;
}
#aboutbyron h2 {
  color: #F5A503;
  border-bottom: 1px solid #F5A503;
  text-align: right;
}
#github h2 {
  color: #757AD1;
  border-bottom: 1px solid #757AD1;
}
#wiki h2 {
  color: #03A5A5;
  border-bottom: 1px solid #03A5A5;
  text-align: right;
}
#favband h2 {
  color: #F23545;
  border-bottom: 1px solid #F23545;
}
#workhistory h2{
  color: #000;
  border-bottom: 1px solid #000;
}
.goducks span:nth-child(odd) {
  color: #FADF12; 154733;
}
.goducks span:nth-child(even) {
  color: #154733;
}
#contact h2{
  color: #000;
  border-bottom: 1px solid #000;
}
.footer {
  width: 100%;
  background-color: #252525;
  height: 300px;
  color: #D9D9D9;
  text-align: center;
}
.footer p {
  padding: 120px;
}
